{% extends 'base.html' %}

{% block content %}
  <div class="container">

    <section class="section has-text-centered">
      <h1 class="title">Welcome to OpenMarket</h1>
    </section>

    <section class="section">
      <div class="columns">
 
        <div class="column">
          <article class="media notification is-primary">
            <figure class="media-left">
              <span class="icon">
                <i class="fas fa-lg fa-question"></i>
              </span>
            </figure>
            <div class="media-content">
              <div class="content">
                <h2 class="title is-size-5">Why?</h2>
                <p>
                  <strong>OpenMarket</strong> was created with the aim of helping micro-entrepreneurs to break the entry barrier to the world of sales. Good luck!
                </p>
              </div>
            </div>
          </article>
        </div>

        <div class="column">
          <article class="media notification is-warning">
            <figure class="media-left">
              <span class="icon">
                <i class="fas fa-lg fa-box-open"></i>
              </span>
            </figure>
            <div class="media-content">
              <div class="content">
                <h2 class="title is-size-5">Products</h2>
                <p>
                  Products are all checked by our wonderful administrators. They certify that there are no products with false information!
                </p>
              </div>
            </div>
          </article>
        </div>

        <div class="column">
          <article class="media notification is-info">
            <figure class="media-left">
              <span class="icon">
                <i class="fas fa-lg fa-lock"></i>
              </span>
            </figure>
            <div class="media-content">
              <div class="content">
                <h2 class="title is-size-5">Security</h2>
                <p>
                  All contact with sellers is made through WhatsApp. Therefore, there is no need to create an account to interact with sellers. Just buy away!
                </p>
              </div>
            </div>
          </article>
        </div>

      </div>
    </section>


  </div>
{% endblock content %}

{% block style %}
  <style></style>
{% endblock style %}
