{% extends "base.html" %}
{% from '_utils.html' import render_icon_link %}

{% block content %}
  <section class="hero is-black">
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">{{ user.display_name }}</p>
      </div>
    </div>
  </section>
 
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-3">
          <aside class="menu">
            <div class="menu-section box">
              <p class="menu-label">Profile</p>
              <ul class="menu-list">
                <li>{{ render_icon_link("fa-user", "Overview", target=url_for('profile', id=user.id)) }}</li>
              </ul>

            </div>

            <div class="menu-section box">
              <p class="menu-label">Products</p>
              <ul class="menu-list">
                <li>
                  <a href="{{ url_for('user_favorites', id=user.id) }}"
                     class="button has-text-left">
                    <span class="icon is-small">
                      <i class="fas fa-heart"></i>
                    </span>
                    <span>Favorites</span>
                  </a>
                </li>

                <li>
                  <a href="{{ url_for('profile_products', id=user.id) }}"
                     class="button has-text-left">
                    <span class="icon is-small"><i class="fas fa-cart-shopping"></i></span>
                    <span class="">On Sale</span>
                  </a>
                </li>

                <li>
                  <a href="{{ url_for('profile_pending', id=user.id) }}"
                     class="button has-text-left">
                    <span class="icon is-small"><i class="fas fa-spinner"></i></span>
                    <span class="">Pending</span>
                  </a>
                </li>

                {% if current_user == user or current_user.is_admin %}
                  <li>
                    <a href="{{ url_for('profile_rejected', id=user.id) }}"
                       class="button has-text-left">
                      <span class="icon is-small"><i class="fas fa-close"></i></span>
                      <span>Rejected</span>
                    </a>
                  </li>
                {% endif %}

              </ul>
            </div>

          </aside>
        </div>
        <div class="column is-9">
          {% block page_content %}
          {% endblock page_content %}
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
