{% extends "base.html" %}

{% block content %}

  <div class="container">
 
    <section class="section">
      <div class="columns">
        <div class="column is-10 is-offset-1">
          <form action="{{ url_for('products') }}" method="get" class="box">
            <div class="field is-grouped has-addons">
              <div class="control is-expanded has-icons-left">
                {{ form.keyword(class_="input", placeholder="Search for products..", id="search_keyword") }}
                <span class="icon is-small is-left">
                  <i class="fas fa-magnifying-glass"></i>
                </span>
              </div>
              <div class="control">
                <button class="button is-primary" type="submit" id="bt-search">
                  <span class="icon is-small">
                    <i class="fas fa-magnifying-glass"></i>
                  </span>
                  <span class="is-hidden-mobile">Search</span>
                </button>
              </div>
              <div class="control">
                <button class="button is-info" id="bt-advanced-search" type="button">
                  <span class="icon is-small">
                    <i class="fas fa-arrow-down"></i>
                  </span>
                  <span class="is-hidden-mobile">Advanced Search</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="columns">
        <div class="column is-10 is-offset-1 mt-0">
          <form id="advanced-search-form"
                action="{{ url_for('products') }}"
                method="get"
                class="mt-5 is-hidden box">
            <div class="field">
              {{ adv_form.keyword.label(class_="label") }}
              <div class="control">{{ adv_form.keyword(class_="input", placeholder="Search for products..") }}</div>
            </div>

            <div class="field">
              {{ adv_form.username.label(class_="label") }}
              <div class="control">{{ adv_form.username(class_="input", placeholder="Search for an username..") }}</div>
            </div>

            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link" type="submit">Search</button>
              </div>
              <div class="control">
                <button class="button is-link is-light"
                        type="button"
                        id="bt-reset-adv-search">Reset</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

    {% if not products %}
      <section class="hero is-medium">
        <div class="hero-body">
          <p class="title has-text-centered">No products found</p>
        </div>
      </section>
    {% else %}
      <div class="columns is-multiline">
        {% for product in products %}
          <div class="column is-4-desktop is-half-tablet">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <a href="{{ url_for('profile', id=product.seller_id) }}">
                    <span class="tag is-default is-primary mr-2"
                          title="{{ product.seller.username }}'s Profile">
                      <i class="fas fa-user"></i>
                    </span>
                  </a>
                  <span>{{ product.seller.username }}</span>
                  <span class="is-pulled-right">
                    <span class="tag is-default is-info">R${{ "%.2f"|format(product.price) }}</span>
                    <span class="tag is-default is-warning"
                          title="This user is selling {{ product.quantity }} units of this product">Qty: {{ product.quantity }}</span>
                    <span class="tag is-default is-link"
                          title="Posted {{ format_date(product.created) }}">
                      <i class="fas fa-clock"></i>
                    </span>
                    <span class="tag is_default is-danger favorites">
                      <i class="fas fa-heart mr-1"></i>
                      {{ product.favorites | length }}
                    </span>
                  </span>
                </p>
              </header>
 
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-5">{{ product.name }}</p>
                  </div>
                </div>
                <div class="content">
                  <div class="product-description">
                    <p>{{ product.description }}</p>
                  </div>
                </div>
              </div>
 
              <footer class="card-footer">

                {% if not current_user.is_authenticated or not current_user == product.seller %}
                  <a href="https://api.whatsapp.com/send?phone=55{{ product.seller.phone }}"
                     class="card-footer-item">
                    <span class="icon"><i class="fab fa-whatsapp"></i></span>
                    <span>Contact</span>
                  </a>
                {% endif %}
 
                {% if current_user.is_authenticated and not current_user == product.seller %}
                  {% if current_user.has_liked(product.id) %}
                    <a class="card-footer-item like" data-id="{{ product.id }}">
                      <span class="icon icon-favorite has-text-danger"><i class="fas fa-heart"></i></span>
                      <span class="favorite-text hey">Unfavorite</span>
                    </a>
                  {% else %}
                    <a class="card-footer-item like" data-id="{{ product.id }}">
                      <span class="icon icon-favorite"><i class="fas fa-heart"></i></span>
                      <span class="favorite-text">Favorite</span>
                    </a>
                  {% endif %}
                {% endif %}

                {% if product.seller == current_user %}
                  <a class="card-footer-item modal-trigger"
                     data-target="modal-edit-product"
                     data-id="{{ product.id }}"
                     data-next="{{ url_for('products') }}">
                    <span class="icon"><i class="fas fa-edit"></i></span>
                    <span>Edit</span>
                  </a>
                {% endif %}

                {% if product.seller == current_user or current_user.is_admin %}
                  <a class="card-footer-item modal-trigger"
                     data-target="modal-delete-product"
                     data-id="{{ product.id }}"
                     data-next="{{ url_for('products') }}">
                    <span class="icon"><i class="fas fa-close"></i></span>
                    <span>Delete</span>
                  </a>
                {% endif %}

              </footer>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
 

  <!-- Modals -->
  <form id="modal-delete-product" class="modal" method="post">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Warning!</p>
        <button type="button" class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <p>
          Are you sure you want to delete this product? This action is <strong>permanent.</strong>
        </p>
      </section>
      <footer class="modal-card-foot">
        <button type="submit" class="button is-primary">Delete</button>
        <button type="button" class="button close-modal">Cancel</button>
      </footer>
    </div>
  </form>

  <form id="modal-edit-product" class="modal" method="post">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Edit Product</p>
        <button type="button" class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">

        {{ edit_form.hidden_tag() }}

        <div class="field">
          {{ edit_form.name.label(class_="label") }}
          <div class="control">
            {{ edit_form.name(class_="input") }}
          </div>
        </div>

        <div class="field">
          {{ edit_form.description.label(class_="label") }}
          <div class="control">
            {{ edit_form.description(class_="textarea") }}
          </div>
        </div>

        <div class="field">
          {{ edit_form.quantity.label(class_="label") }}
          <div class="control">
            {{ edit_form.quantity(class_="input") }}
          </div>
        </div>

        <div class="field">
          {{ edit_form.price.label(class_="label") }}
          <div class="control">
            {{ edit_form.price(class_="input") }}
          </div>
        </div>

 

      </section>
      <footer class="modal-card-foot">
        <button type="submit" class="button is-primary">
          Save
        </button>
        <button type="button" class="button close-modal">
          Cancel
        </button>
      </footer>
    </div>
  </form>
{% endblock content %}
